#welcome-message{
 display: block;
 font-size: large;
 margin-left: 40%;
 margin-top: 150px;
 color: green;
}

#keypress-info{
    display: block;
    font-size: large;
    margin-left: 40%;
    margin-top: 150px;
    color: green;
   
}







